html, body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header, main, aside, footer {
    background-color: gray;
    border-style: solid;
}

.container {
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 0.625rem;
}


/*  
START OF HEADER
*/
header {
    grid-area: 1 / 1 / 1 / span 12;
    display: flex;
    position: fixed;
    right: 0px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
}

header img {
    margin-left: 3rem;
}

header ul {
    width: 40vw;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header a:hover {
    color: blue;
}

.headerspace {
    height: 4.3rem;
}

/*  
START OF SIDEBARS
*/

.leftbanner {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightbanner {
    grid-area: 2 / 12 / 3 / 13;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  
START OF MAIN SECTION
*/

main {
    grid-area: 2 / 2 / 3 / span 10;
    text-align: center;
}

.formdiv {
    margin-bottom: 4rem;
}

.formdiv form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formdiv h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.formdiv form input[type="email"] {
    width: 15.625rem;
    padding: 0.5rem;
}

.formdiv form button {
    margin-top: 0.5rem;
    width: 10rem;
    height: 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    background-color: #efc239;
}

.formdiv form button:hover {
    cursor: pointer;
    background-color: #e5af0b;
}

.featurediv {
    display: grid;
    grid-template-columns: 2.5fr 7fr;
    grid-template-rows: repeat (3 1fr);
    align-items: center;
    grid-row-gap: 2.5rem;
}

.featurediv h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.featurediv p {
    margin: 0;
    padding: 0;
}

.featureleft1, .featureleft2, .featureleft3 {
    text-align: end;
}

.featureright1, .featureright2, .featureright3 {
    text-align: start;
    padding-left: 5rem;
}

.fa-arrow-alt-circle-right {
    font-size: 3rem;
    color: orange;
}


.iframe-container {
    border-style: solid;
    margin-top: 4rem;
  }
  
  .iframe-container iframe {
    max-width: 620px;
     width: 100%;
  }


/*  
START OF FOOTER
*/

footer {
    grid-area: 3 / 1 / 4 / span 12;
}

/*  
MEDIA QUERY FOR MOBILE PHONES
*/
@media only screen and (max-width: 600px) {
    .container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 1fr auto;
    }
    
    .leftbanner {
        display: none !important;
    }
   
    .rightbanner {
        display: none !important;
    }

    header {
        grid-area: 1 / 1 / 1 / span 4;
        flex-direction: column;
    }

    header ul {
        flex-direction: column;
        margin-top: 0.33rem;
        margin-bottom: 0;
        align-items: center;
    }

    header img {
        margin: auto;
    }

    .headerspace {
        height: 7.5rem;
    }

    main {
        grid-area: 2 / 1 / 3 / span 4;
    }

    .featurediv {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (3 1fr);
        align-items: center;
        grid-row-gap: 2.5rem;
        margin: 0.75rem;
    }

    .featureleft1, .featureleft2, .featureleft3 {
        display: none !important;
    }

    .featureright1, .featureright2, .featureright3 {
        padding: 0;
    }
    
    footer {
        grid-area: 3 / 1 / 4 / span 4;
    }
}